[submodule "arduino/sst39sf040-avr"]
	path = arduino/sst39sf040-avr
	url = https://github.com/johnterickson/sst39sf040-avr.git
[submodule "deps/Digital"]
        path = deps/Digital
        url = https://github.com/johnterickson/Digital.git
