[submodule "arduino/sst39sf040-avr"]
	path = arduino/sst39sf040-avr
	url = https://github.com/johnterickson/sst39sf040-avr.git
[submodule "logisim/Logisim-Ita"]
	path = logisim/Logisim-Ita
	url = https://github.com/johnterickson/Logisim-Ita.git
	branch = perf
[submodule "topological-sort"]
	path = topological-sort
	url = https://github.com/johnterickson/topological-sort-rs.git
