[submodule "logisim/Logisim-Ita"]
	path = logisim/Logisim-Ita
	url = https://github.com/Logisim-Ita/Logisim.git
[submodule "arduino/sst39sf040-avr"]
	path = arduino/sst39sf040-avr
	url = https://github.com/johnterickson/sst39sf040-avr.git
